.DS_Store
.venv
.env
.flaskenv
myenv/
*.pyc
*.pyo
env/
venv/
lib/
bin/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
password.txt
username.txt
apitoken.txt
